<table class="ui table">
  <thead>
  <tr>
    <th>Time/Date</th>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Pressure</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {{#each station.readings}}
    <tr>
      <td>
        {{date}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
        <a href="/station/{{../station.id}}/deletereading/{{id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete Reading</div>
            <div class="hidden content">Are you sure?</div>
          </div>
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>